* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.pull-right {
    margin-right: 15px !important;
}
  /* navbar */

.navbar-brand img {
    width: 172px;
    height: 29px;
    object-fit: cover;
    position: relative;
    bottom: 7px;
}

.ms--hamburger-menu {
    padding-top: 50px;
    display: inline-block;
}

.navbar-right {
    margin-right: 15px !important;
    line-height: 0;
}

nav span {
    font-size: x-large
     !important;
     top: 12px !important;
}
