* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .pull-right {
      margin-right: 30px !important;
  }

  body {
      background-color: #0248ff !important;
  }

  /* navbar */

nav {
    border: none !important;
}
.container-fluid {
    background-color: #0248ff;
    padding: 10px 0;
    border: none;
}

#ms--navbar-header {
    padding-right: 25px;
}
.navbar-brand img {
    width: 172px;
    height: 29px;
    object-fit: cover;
    position: relative;
    bottom: 7px;
}

.navbar-right {
    margin-right: 15px !important;
    line-height: 0;
}

nav span {
    font-size: x-large
     !important;
     top: 12px !important;
     color: gray;
     opacity: 0.5;
}

#ms--menu ul li a {
    color: black !important;
    font-weight: bold;
}

#ms--menu button {
    color: #0049ff;
    font-weight: bold;
    border: 1px solid #0049ff;
}


@media all and (min-width:768px) and (max-width:1049px) {
    #ms--menu {
        display: none;
    }

    #ms--navbar-header {
        width: 100% !important;
    }
}

@media all and (min-width:1050px) and (max-width:1200px) {
    #ms--hamburger-menu {
        display: none;
    }
}

@media all and (min-width:1050px) {
    .container-fluid {
        background-color: white !important;
    }
}
